

<!--<nav>
      
<ul class="navbar">
    <li>
        <a routerLink="/">Home</a>
   </li>
   <li>
      <a routerLink="/">Services</a>
   </li>
   <li>
      <a routerLink="/navbar">About</a>
   </li>
   <li>
      <a routerLink="/">Contact</a>
   </li>
   <li>
      <a routerLink="/">Faq</a>
   </li>
</ul>
</nav>
<nav >
   <ul class="navbar">
     
      <li *ngFor="let nomber of nombers">
            <app-navbar class="text" [nomber]="nomber"></app-navbar>

      </li>
   </ul>

</nav>-->


