<!--<p> {{nomber}}</p>-->

<app-logo [name]="'Your Logo'"></app-logo>
<nav >
        <ul class="navbar">
           <li *ngFor="let nomber of numeros">
                <a [routerLink]="[ nomber ]">{{ nomber[0].toUpperCase() + nomber.slice(1) }}</a>
           </li>
        </ul>
     </nav>