.navbar {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
.navbar a {
    margin: 10px ;
    padding: 20px;
    color: rgb(253, 253, 253);
    font-size: 19px;
    text-decoration: none; 
}
 
.navbar a:hover {
    padding: 10px 10px;
    border-radius: 6px;
    background:rgb(70, 63, 172);
}