

body {
    background: url(/assets/maqueta.png);
    background-size: 100%;
    font-family: 'Arial','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-repeat:no-repeat;
}
/*.navbar {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
.navbar a {
    margin: 10px ;
    padding: 20px;
    color: rgb(253, 253, 253);
    font-size: 19px;
    text-decoration: none; 
}
 
.navbar a:hover {
    padding: 10px 10px;
    border-radius: 6px;
    background:rgb(70, 63, 172);
}*/
.main {
    color:#4AC7E9 ;
    text-align: center;
    font-size: 40px; 
    padding: 100px;
}
.subtitle {
    color: white;
    font-size: 125%;
}
.content {
    display: inline-block;
    margin: 45px;
    text-align: center;
    font-size: 1rem;
    width: 50%;
}
