.logo {
    width: 12px;
    height: 12px;   
    border: 6px solid #faf4f4;
    border-radius: 50%;
    padding: 5px;
    float: left;
    margin-top: -5px;
}

.p{
   
    list-style: none;
    margin-left: 25px;
    color: #4AC7E9;
    font-size: 22px;
    font-weight: 150;
    margin-top: -5px;
    inline-size: 300px;
  
}
