 
 <section class="main">
<div class="subtitle"> Modern Landing Page</div>
      <p class="content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, distinctio, ab architecto nisi quod temporibus odit repellendus hic enim possimus ipsam tempora </p>  
  <div class="button"><a href="https://www.empowerlabs.com/" >GET STARTED</a></div> 
</section> 
  