
.button {
    background-color: transparent;   
}

.button a{
    color:white;
    font-size: 30px;
    border: 1px solid #4AC7E9;
    border-radius: 25px;
    text-decoration: none;
    padding: 12px 40px;

}

.button a:hover {
    border-radius: 18px;
    color: #4AC7E9;
    padding: 10px 25px;
    background:transparent;
}